## Cirando Faixas de Valor

In [1]:
import pandas as pd

In [5]:
dados = pd.read_csv('dados/aluguel.csv', sep=';')
dados.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor m2,Tipo Agregado
0,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,53.33,Apartamento
1,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,16.67,Apartamento
2,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,26.00,Apartamento
3,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0,21.43,Apartamento
4,Apartamento,Lins de Vasconcelos,3,1,1,90,1500.0,455.0,14.0,16.67,Apartamento

In [6]:
# Contar imóveis com:
# 1 e 2
# 2 e 4
# 5 e 6
# 7 +
classes = [0, 2, 4, 6, 100] # primeiro limite 2, proximo limite 4, proximo 6, proximo 100

In [10]:
quartos = pd.cut(dados.Quartos, classes)
quartos

0        (0.0, 2.0]
1        (0.0, 2.0]
2        (0.0, 2.0]
3        (0.0, 2.0]
4        (2.0, 4.0]
            ...
19826    (0.0, 2.0]
19827    (0.0, 2.0]
19828    (0.0, 2.0]
19829    (0.0, 2.0]
19830           NaN
Name: Quartos, Length: 19831, dtype: category
Categories (4, interval[int64, right]): [(0, 2] < (2, 4] < (4, 6] < (6, 100]]

In [11]:
# Contagem 
pd.value_counts(quartos)
# o '(' significa que o número que está depois não entra na conta, e o ']' significa que entra
# ou seja (0, 2] -> o '0' não entra, o '2' entra

(0, 2]      11074
(2, 4]       8094
(4, 6]        470
(6, 100]       36
Name: Quartos, dtype: int64

In [20]:
labels = ['1 e 2 quartos', '3 e 4 quartos', '5 e 6 quartos', '7 ou mais quartos']

In [22]:
# colocando labels
quartos = pd.cut(dados['Quartos'], classes, labels=labels)
pd.value_counts(quartos)

0 à 2 quartos        11074
3 e 4 quartos         8094
5 e 6 quartos          470
7 ou mais quartos       36
Name: Quartos, dtype: int64

In [21]:
# incluindo o 0 no '1 a 2'
labels = ['0 à 2 quartos', '3 e 4 quartos', '5 e 6 quartos', '7 ou mais quartos']
quartos = pd.cut(dados['Quartos'], classes, labels=labels, include_lowest=True)
pd.value_counts(quartos)

0 à 2 quartos        11231
3 e 4 quartos         8094
5 e 6 quartos          470
7 ou mais quartos       36
Name: Quartos, dtype: int64